{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Star Warzone!</h1><br><br>
   
    <h2>A place for Star Wars nerd to relax, discuss, and have fun  with their fellow Star Wars fans</h2>
    <h2>There are groups that each focused on a specific topic. Be it about the original trilogy, the sequel,</h2>
    <h2>lightsaber, or even Star Wars fan theory is here for you to choose! Enjoy your stay and may the force be with you.</h2>

    <footer class='kaki'>
        powered by www.rayhanshidqi.com
    </footer>
{% endblock %}
