{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Star Warzone!</h1><br><br>
   
    <p>A place for Star Wars nerd to relax, discuss, and have fun  with their fellow Star Wars fans.</p>
    <p>There are groups that each focused on a specific topic. Be it about the original trilogy, the sequel,</p>
    <p>lightsaber, or even Star Wars fan theory is here for you to choose! Enjoy your stay and may the force be with you.</p><br><br>
    <p id='kanan'>powered by www.rayhanshidqi.com</p>
    
    


{% endblock %}
